gedcom.dtd

<!ELEMENT document (infos,individuals,families)>
  <!ELEMENT infos (copyright?,date?,language?,gedcomVersion?)>
    <!ELEMENT copyright (#PCDATA)>
    <!ELEMENT date (#PCDATA)>
    <!ELEMENT language (#PCDATA)>
    <!ELEMENT gedcomVersion (#PCDATA)>

<!ELEMENT individuals (individual*)>
  <!ELEMENT individual (personalName,sex,events,emails?,faxNumbers?,urls?,phones?,address?,notes,familiesWhereChild,familiesWhereSpouse,title?)>
    <!ATTLIST individual id ID #REQUIRED>
    <!ELEMENT personalName (#PCDATA)>
    <!ELEMENT sex (M|F) #IMPLIED>
    <!ELEMENT emails (email*)>
      <!ELEMENT email (#PCDATA)>
    <!ELEMENT faxNumbers (faxNumber*)>
      <!ELEMENT faxNumber (#PCDATA)>
    <!ELEMENT urls (url*)>
      <!ELEMENT url (#PCDATA)>
    <!ELEMENT phones (phone*)>
      <!ELEMENT phone (#PCDATA)>
    <!ELEMENT address (addr1,addr2,postalCode,city,stateOrProvince,country)>
      <!ELEMENT addr1 (#PCDATA)>
      <!ELEMENT addr2 (#PCDATA)>
      <!ELEMENT postalCode (#PCDATA)>
      <!ELEMENT city (#PCDATA)>
      <!ELEMENT stateOrProvince (#PCDATA)>
      <!ELEMENT country (#PCDATA)>
    <!ELEMENT notes (note*)>
    <!ELEMENT familiesWhereChild (familyWhereChild?)>
      <!ELEMENT familyWhereChild EMPTY>
        <!ATTLIST familyWhereChild xref IDREF #REQUIRED>
    <!ELEMENT familiesWhereSpouse (familyWhereSpouse*)>
      <!ELEMENT familyWhereSpouse EMPTY>
        <!ATTLIST familyWhereSpouse xref IDREF #REQUIRED>

<!ELEMENT families (family*)>
  <!ELEMENT family (husband?,wife?,child*,events)>
    <!ATTLIST family id ID #REQUIRED>
    <!ELEMENT husband EMPTY>
      <!ATTLIST husband xref IDREF #REQUIRED>
    <!ELEMENT wife EMPTY>
      <!ATTLIST wife xref IDREF #REQUIRED>
    <!ELEMENT child EMPTY>
      <!ATTLIST child xref IDREF #REQUIRED>

<!ELEMENT events (event*)>
  <!ELEMENT event (date,cause?,place?)>
    <!ATTLIST event type (TODO)>

<!ELEMENT cause (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT note (#PCDATA)>
<!ELEMENT place (#PCDATA)>
<!ELEMENT title (#PCDATA)>
